@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@layer base {
  @font-face {
    font-family: "Miracle";
    src: url("C:\USERS\APPDATA\LOCAL\MICROSOFT\WINDOWS\FONTS\SATOSHI-BOLD.OTF");
  }
  @font-face {
    font-family: "PP Monument Extended Light";
    src: url("C:\USERS\APPDATA\LOCAL\MICROSOFT\WINDOWS\FONTS\SATOSHI-BOLD.TTF");
  }
}
